<div class="flex py-12 border-y border-gray-400 px-12">
	<!-- <div class="w-1/4 h-fit flex justify-center sticky top-1/2 transform -translate-y-1/2"> -->
	<div class="w-1/5 h-fit flex justify-center sticky top-32">
		<app-dock-izq class=""></app-dock-izq>
	</div>
	<div id="posts" class="w-full flex flex-col gap-6 px-12">
		<app-post></app-post>
		<app-post></app-post>
		<app-post></app-post>
		<app-post></app-post>
		<app-post></app-post>
	</div>
	<div class="hidden w-1/5 md:flex justify-center">
		<app-communities></app-communities>
	</div>
</div>
