<div class="border-2 border-gray-500 inline-block rounded-sm bg-gray-900">
  <ul
    class="grid grid-col-1 sm:grid-col-1 overflow-x-auto sm:overflow-x-visible space-x-5 sm:space-x-0 sm:space-y-2"
  >
    <li
      *ngFor="let item of dock_izq.tags"
      class="flex-shrink-0"
      (click)="seleccionarTag(item.tag)"
    >
      <a href="#" class="block p-2">
        <img
          [src]="item.icon"
          [alt]="item.tag"
          class="size-15 filter brightness-0 invert transition-all hover:filter-none hover:drop-shadow-lg hover:scale-110 duration-300"
        />
      </a>
    </li>    
  </ul>
</div>
