.blue-label {
	background-color: #1c388d;
	color: #8dc5fc
}

.purple-label {
	background-color: #58168a;
	color: #dab1fc;
}

.rose-label {
	background-color: #870e34;
	color: #ffa0ac;
}

.emerald-label {
	background-color: #024e3b;
	color: #5ee9b4;
}

.orange-label {
	background-color: #7e2911;
	color: #ffb76a;
}

